<form [formGroup]="exerciseForm" (ngSubmit)="add()" class="panel">
  <div>
    <label for="name">Exercício</label
    ><input id="name" type="text" formControlName="name" />

    <label>Duração</label>
    <input type="number" formControlName="duration" />

    <label>Repetições</label>
    <input type="number" formControlName="repetitions" />

    <label>Preparação</label>
    <input type="number" formControlName="warmUp" />

    <label>Descanso</label>
    <input type="number" formControlName="rest" />
  </div>
  <button type="submit" [disabled]="exerciseForm.invalid">Adicionar</button>
</form>

<table>
  <tr>
    <th>Exercício</th>
    <th>Duração</th>
    <th>Repetições</th>
    <th>Preparação</th>
    <th>Descanso</th>
    <th></th>
  </tr>
  <tr *ngFor="let exercise of ts.exercises; let i = index">
    <td>{{ exercise.name }}</td>
    <td>{{ exercise.duration }}</td>
    <td>{{ exercise.repetitions }}</td>
    <td>{{ exercise.warmUp }}</td>
    <td>{{ exercise.rest }}</td>
    <td><button (click)="delete(i)">X</button></td>
  </tr>
</table>
